<!DOCTYPE html>
<html lang="en">
  <head>
    <title>JQuery AJAX vs backbone.js Demo with Database Select</title>
    <link href='${resource( dir:'css/ui-lightness', file:'jquery-ui-1.8.20.custom.css')}' rel='stylesheet' type='text/css' />
    <link href='${resource( dir:'css', file:'main.css')}' rel='stylesheet' type='text/css' />
  </head>

  <body>
    <h1>JQuery AJAX vs backbone.js Demo with Database Select</h1>
    <div id='tabs'>
      <ul>
        <li><a href='#instructions' title="instructions">Instructions</a></li>
        <li><a href='#demo' title="demo">Demo</a></li>
        <li><a href='#db-demo' title="db-demo">Database Demo</a></li>
      </ul>
      <div id='instructions'>
        <p>Choose the original Demo tab for the original from Kevin.</p>

        <p>The Demo tab demonstrates using Javascript to update a client-side HTML table of values (see updateResultsTable())<br />It also demonstrates using a backbone.js Model, Collection and View to update a client-side HTML table by fetching the result using JSON.</p>

        <p>The Database Demo tab demonstrates using JQuery AJAX to retrieve JSON data from a database and update the client page without having to refresh the whole page. It also demonstrates using backbone.js to do the same thing.</p>

      </div>
      <div id='demo'>
        Choose a factor to multiply by
        <select id='factor'>
          <option value="">Pick one</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="100">100</option>
          <option value="1000">1000</option>
        </select>
        <h3>Basic JavaScript/jQuery results</h3>
        <table id='results'>
          <thead>
            <tr>
              <th>Number</th>
              <th>Product</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>

        <h3>Backbone.js Results</h3>
        <table id='backboneResults'>
          <thead>
            <tr>
              <th>Number</th>
              <th>Product</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

      <div id="db-demo">
        <h2>Basic JavaScript/jQuery Results</h2>
        <h3>From a database select all (see controller/action: institution/list)</h3>
        <table id='db-demo-results'>
          <thead>
            <tr>
              <th>Name</th><th>Factbook URL</th><th>City</th><th>Customer Year</th><th>Health Sciences</th><th>Hospital</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <h2>Backbone DB Results</h2>
        <h3>From a database select all (see controller/action: institution/list)</h3>
        <table id='backbone-db-results'>
          <thead>
            <tr>
              <th>Name</th><th>Factbook URL</th><th>City</th><th>Customer Year</th><th>Health Sciences</th><th>Hospital</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <br />
        <p>See the JSON retrieved from the database when you click this <a href="${g.createLink(controller:'institution', action:'list')}" title="Raw JSON - Javascript Object Notation" target="_blank">link</a>.</p><br />
        <p>The HTML tables showing the institution rows are formatted with CSS only, they are not a plugin, but rather are from the default Grails main.css file.</p><br />
        <p> You may use the browser's Ctrl+, Ctrl-, Ctrl0 to zoom in and out.</p><br />
        <p>The Factbook URL's are HTML anchor elements generated by client-side Javascript.</p>
      </div>


    </div>

    <script src='${resource( dir:'js', file:'jquery-1.7.2.min.js')}'></script>
    <script src='${resource( dir:'js', file:'jquery-ui-1.8.20.custom.min.js')}'></script>

    <!--<script src='${resource( dir:'js', file:'underscore.js')}'></script>
    <script src='${resource( dir:'js', file:'backbone.js')}'></script>
    <script src='${resource( dir:'js', file:'demo-modified-ajax.js')}'></script>-->

    <g:javascript src="demo-modified-ajax.js" />

    <!--<g:javascript library="application" />
    <g:javascript library="jquery-1.7.2.min" />
    <g:javascript library="jquery-ui-1.8.20.custom.min" />-->

    <g:javascript library="underscore" />
    <g:javascript library="backbone" />

    <g:javascript>

      // Most functions are now in web-app/js/demo-modified-ajax.js

      // Note: We'll need further work and/or guidance as to how best to
      // separate as much backbone code into the external demo-modified-ajax.js
      // file as possible. I tried and it seems any variable declared global to the
      // current page need to be in the gsp.

      var serverUrl = "${g.createLink(controller:'demo', action:'multiply')}";

      var serverUrlInstitution = "${g.createLink(controller:'institution', action:'list')}";

      ////////// With Backbone
      // Backbone is based on defining models, collections, and views,
      // and using events to tie them together.  So we bind the collection "reset" event to update the view
      // the "reset" event is triggered when the collection is fetched from the server

      var DemoModel = Backbone.Model;
      var DemoCollection = Backbone.Collection.extend( {
        model: DemoModel,
        url: serverUrl
      });

      // Institution with Backbone; Added by deinerso:
      var InstitutionModel = Backbone.Model;
      var InstitutionCollection = Backbone.Collection.extend( {
        model: InstitutionModel,
        url: serverUrlInstitution
      });

      var DemoView = Backbone.View.extend({
        initialize: function() {
          _.bindAll(this);
          resultsCollection.bind( 'reset', this.render );
        },
        render: function() {
          var target = this.$el.find('tbody');
          target.empty();
          resultsCollection.each( function( item, index ) {
            target.append( formatLine( item.attributes ));
          });
        }
      });

      // Added by deinerso; The Institution View:
      var InstitutionView = Backbone.View.extend({
        initialize: function() {
          _.bindAll(this);
          institutionResultsCollection.bind( 'reset', this.render );
        },
        render: function() {
          var target = this.$el.find('tbody');
          target.empty();
          institutionResultsCollection.each( function( item, index ) {
            target.append( formatInstitution( item.attributes ));
          });
        }
      });

      var resultsCollection = new DemoCollection();
      var resultsView = new DemoView({
        model: resultsCollection,
        el:$('#backboneResults')
      });

      // Added by deinerso@unm.edu
      var institutionResultsCollection = new InstitutionCollection();
      var InstitutionResultsView = new InstitutionView({
        model: institutionResultsCollection,
        el:$('#backbone-db-results')
      });

      // This jquery syntax invokes jquery in general (why is it at the end?):
      $(document).ready(function() {
        // This selector "activates" the jquery tab component:
        $( '#tabs' ).tabs({selected: 0});

        // When the dropdown element w/ id="factor" attribute change event occurs,
        // fire this selector:
        $( '#factor' )
          .change( updateWithoutBackbone )
          .change( updateWithBackbone );

        // See http://stackoverflow.com/questions/3641154/jquery-trapping-tab-select-event
        // When the db-demo tab is selected, execute the function (could be made a
        // closure instead of calling a function, but calling a function is cleaner):
        $('#tabs, #db-demo').tabs({
          select: selectWithBoth
        });

        // NOTE: This doesn't work. The last of this event binding overrides any
        // previous bindings when it shouldn't. Don't know how to make it work
        // after looking about an hour. So, I re-use the 3rd tab.
        // Backbone Database Demo
        // Binds the select event to a javascript function:
        //$('#tabs, #backbone-db').tabs({
        //  select: selectWithBackbone
        //});

      });

    </g:javascript>

</body>
</html>
